.MyFullCalendarMonthlyCalendarWeekdays,
.MyFullCalendarMonthlyCalendarDateValues {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

// .MyFullCalendarMonthlyCalendarDateValues {
//     // display: flex; /* or inline-flex */
//     height: 100px;
//     max-height: 100px;
// }


.MyFullCalendarMonthlyCalendarWeekdays {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color: #2f74b5;
    text-align: center;
    color: white;
    font-weight: bold;
}